/* LOGIN / REGISTER */
.main {
  max-width: 800px;
  margin-inline: auto;
  padding: 1rem;
}

.main--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 90vh;
}

.info__container {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* FORM SECTION */
.form__container {
  width: 50%;
  padding: 2.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.62rem;
  justify-content: space-around;
  border-radius: var(--defaultRadius);
  border: 0.0625rem solid var(--gray-6);

  .form__title {
    text-align: center;
  }
}

.fieldset__container {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERY */
@media (max-width: 835px) {
  .main--flex {
    scrollbar-gutter: stable;
    flex-direction: column;
    width: 90%;
    height: 90%;
    gap: 2rem;

    .form__container {
      width: 100%;
    }

    .info__container {
      width: 100%;
      gap: 1.62rem;
      text-align: center;
      align-items: center;

      .info__image {
        width: 80%;
      }
    }
  }

  .column-reversed {
    flex-direction: column-reverse;
  }
}
